<div class="spell-list-page__layout">
  <div class="spell-list-page__column spell-list-page__column--primary">
    <dnd-spell-list-controls
      class="spell-list-page__controls"
      [filterValues]="filterValues()"
      (updateFilterValues)="updateFilterValues($event)"
    />

    @if (spellList().length) {
      <dnd-spell-list
        [spells]="spellList()"
        [language]="currentLanguage()"
        (spellClick)="onAddSpell($event)"
      />
    } @else {
      No spells available
    }
  </div>
  <div class="spell-list-page__column spell-list-page__column--secondary">
    <div class="spell-list-page__header">
      <h2>My spells</h2>

      <dnd-language-switch
        [currentLanguage]="currentLanguage()"
        (languageChange)="onLanguageChange($event)"
      />
    </div>

    @if (selectedSpells().length) {
      <dnd-spell-list
        [spells]="selectedSpells()"
        [language]="currentLanguage()"
        (spellClick)="onRemoveSpell($event)"
      />
    } @else {
      No spells added yet
    }
  </div>
</div>
