@use "mixins";

.spell-list-page__layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;

  @include mixins.media-bp-down(sm) {
    flex-direction: column;
  }
}

.spell-list-page__column {
  flex: 1 1 0;
}

.spell-list-page__column--primary {
  border-right: 1px solid var(--p-zinc-400);
  padding-right: 16px;

  @include mixins.media-bp-down(sm) {
    border-right: none;
    padding-right: 0;
  }
}

.spell-list-page__column--secondary {
  @include mixins.media-bp-down(sm) {
    order: -1;
  }
}

.spell-list-page__header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;

  h2 {
    margin: 0;
    color: var(--dnd-color-text-primary);
    @include mixins.font-pixel();
  }
}

.spell-list-page__controls {
  margin-bottom: 16px;
  width: 100%;
}



