:host {
  margin-bottom: 16px;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;
  height: 96px;
}

.app-header__logo {
  height: 100%;
  width: auto;
}

.app-header__column--left {
  gap: 8px;
}
