<header class="app-header">
  <img
    class="app-header__logo dnd-only-light"
    ngSrc="assets/images/logo.png"
    alt="Vibe DnD logo"
    height="500"
    width="385"
  />

  <img
    class="app-header__logo dnd-only-dark"
    ngSrc="assets/images/logo-dark.png"
    alt="Vibe DnD logo"
    height="173"
    width="116"
  />

  <div class="app-header__column--left">
    <div>
      <p-menu
        #menu
        [model]="themeMenuItems"
        popup
      />
      <p-button
        (click)="menu.toggle($event)"
        icon="pi {{ isDarkTheme() ? 'pi-moon' : 'pi-sun' }}"
        severity="secondary"
        text
        size="large"
        type="button"
      />
    </div>
  </div>
</header>
