<header class="app-header">
  <img
    class="app-header__logo"
    ngSrc="assets/images/logo.png"
    alt="Vibe DnD logo"
    height="500"
    width="385"
  />

  <div class="app-header__column--left">
    <div>
      <p-menu
        #menu
        [model]="themeMenuItems" [popup]="true"
      >

      </p-menu>
      <p-button
        (click)="menu.toggle($event)"
        icon="pi pi-sun"
        severity="secondary"
        variant="outlined"
        type="button"
      />
    </div>
  </div>
</header>
