.app-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  height: 80px;
}

.app-header__title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

.app-header__column--left {
  gap: 8px;
}
