*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

:root[color-scheme="light"] {
  color-scheme: light;

  // Base colors
  --dnd-color-primary: #A18167;
  --dnd-color-primary-hover: rgb(148, 112, 82);

  // Background colors
  --dnd-color-background-general: rgba(245, 242, 240, 1);
  --dnd-color-background-general-subtle: rgba(255, 255, 255, 1);
  --dnd-color-background-backdrop: rgba(219, 204, 191, 0.5);
  --dnd-color-background-backdrop-active: rgba(219, 204, 191, 0.8);

  // Text colors
  --dnd-color-text-primary: var(--dnd-color-primary);
  --dnd-color-text-secondary: #fff;
  --dnd-color-text-additional: #000;

  --dnd-card-border-color: var(--p-amber-700);
  --dnd-card-background-color: var(--dnd-bg-color);
  --dnd-card-text-secondary-color: var(--p-zinc-400);
  --dnd-card-shadow-color-hover: rgba(0, 0, 0, 0.2);

  .dnd-only-dark {
    display: none;
  }
}

:root[color-scheme="dark"] {
  color-scheme: dark;

  // Base colors
  --dnd-color-primary: #C28F2C;

  // Background colors
  --dnd-color-background-general: #000;
  --dnd-color-background-general-subtle: rgba(30, 30, 30, 1);
  --dnd-color-background-backdrop: rgba(42, 42, 42, 0.5);
  --dnd-color-background-backdrop-active: rgba(42, 42, 42, 0.8);

  // Text colors
  --dnd-color-text-primary: var(--dnd-color-primary);
  --dnd-color-text-secondary: #000;
  --dnd-color-text-additional: rgba(237, 237, 237, 1);

  --dnd-card-border-color: var(--p-emerald-200);
  --dnd-card-text-secondary-color: var(--p-zinc-400);
  --dnd-card-shadow-color-hover: rgba(0, 0, 0, 0.6);

  .dnd-only-light {
    display: none;
  }
}

:root {
  --dnd-radius-small: 8px;
  --dnd-radius-medium: 16px;
}

body {
  background-color: var(--dnd-color-background-general);
}
