*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

:root[color-scheme="light"] {
  color-scheme: light;

  --dnd-bg-color: var(--p-zinc-50);

  --dnd-card-border-color: var(--p-amber-700);
  --dnd-card-background-color: var(--dnd-bg-color);
  --dnd-card-text-secondary-color: var(--p-zinc-400);
  --dnd-card-shadow-color-hover: rgba(0, 0, 0, 0.2);
}

:root[color-scheme="dark"] {
  color-scheme: dark;

  --dnd-bg-color: var(--p-zinc-700);
  --dnd-card-border-color: var(--p-emerald-200);
  --dnd-card-text-secondary-color: var(--p-zinc-400);
  --dnd-card-shadow-color-hover: rgba(0, 0, 0, 0.6);
}

:root {
  background-color: var(--dnd-bg-color);
}
