@use 'variables' as *;

@mixin media-bp-down($bp) {
  $breakpoint: null;
  @if $bp == xs {
    $breakpoint: $breakpoint-xs;
  } @else if $bp == sm {
    $breakpoint: $breakpoint-sm;
  } @else if $bp == md {
    $breakpoint: $breakpoint-md;
  } @else if $bp == lg {
    $breakpoint: $breakpoint-lg;
  } @else if $bp == xl {
    $breakpoint: $breakpoint-xl;
  }
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin font-pixel($size: null, $weight: null, $line-height: null, $spacing: null) {
  font-family: "Pixel", system-ui;

  @if $size != null {
    font-size: $size + px;
  }
  @if $line-height != null {
    line-height: $line-height + px;
  }
  @if $weight != null {
    font-weight: $weight;
  }
  @if $spacing != null {
    letter-spacing: $spacing + px;
  }
}
