<section class="spell-list">
  <p-accordion
    [multiple]="true"
  >
    @for (levelGroup of spellsByLevel(); track levelGroup.level) {
      <p-accordion-panel
        [value]="levelGroup.level"
        class="spell-list-accordion__panel"
      >
        <p-accordion-header
          class="spell-list-accordion__panel-header"
        >
          <span class="spell-list__level-title">
            {{ levelGroup.level }} ({{ levelGroup.spells.length }})
          </span>
        </p-accordion-header>
        <p-accordion-content>
          <div class="spell-list__cards">
            @for (spell of levelGroup.spells; track spell.name.en) {
              <dnd-spell-card
                [spell]="spell"
                [language]="language()"
                class="spell-list__card"
                role="button"
                (click)="spellClick.emit(spell)"
              />
            }
          </div>
        </p-accordion-content>
      </p-accordion-panel>
    }
  </p-accordion>
</section>
