.spell-list {
  width: 100%;
}

.spell-list-accordion__panel {
  &:first-child > .spell-list-accordion__panel-header,
  &:last-child > .spell-list-accordion__panel-header, {
    border-radius: var(--dnd-radius-medium);
  }
}

.spell-list-accordion__panel-header {
  border-radius: var(--dnd-radius-medium);
}

.spell-list__level-title {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--text-color);
}

.spell-list__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 8px 0;
}

.spell-list__card {
  width: 240px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 5px 10px 1px var(--dnd-card-shadow-color-hover);
  }
}
