<div class="spell-card__row">
  <div class="spell-card__col">
    <h3 class="spell-card__name">{{ spell().name }}</h3>
  </div>
</div>

<div class="spell-card__row">
  <div class="spell-card__col">
    <span class="spell-card__label">Casting Time:</span>
    <span class="spell-card__value">{{ spell().castingTime }}</span>
  </div>
  <div class="spell-card__col">
    <span class="spell-card__label">Range:</span>
    <span class="spell-card__value">{{ spell().range }}</span>
  </div>
</div>

<div class="spell-card__row">
  <div class="spell-card__col">
    <span class="spell-card__label">Components:</span>
    <span class="spell-card__value">{{ spell().components }}</span>
  </div>
  <div class="spell-card__col">
    <span class="spell-card__label">Duration:</span>
    <span class="spell-card__value">{{ spell().duration }}</span>
  </div>
</div>

@if (spell().materials) {
  <div class="spell-card__row">
    <div class="spell-card__col">
      <div class="spell-card__materials">
        <span class="spell-card__label">Materials:</span>
        <span class="spell-card__value">{{ spell().materials }}</span>
      </div>
    </div>
  </div>
}

<div class="spell-card__row">
  <div class="spell-card__col">
    <div class="spell-card__text">
      {{ spell().text }}
    </div>
  </div>
</div>

<div class="spell-card__footer">
  @if (spell().ritual) {
    <span class="spell-card__tag">Ritual</span>
  } @else if (hasLevel()) {
    <span class="spell-card__tag">Level {{ spell().level }}</span>
  }
  @if (spell().school) {
    <span class="spell-card__tag">{{ spell().school }}</span>
  }
  @if (spell().source) {
    <span class="spell-card__tag">({{ spell().source }})</span>
  }
</div>
