<form
  class="spell-list-controls__form"
  [formGroup]="filtersForm"
>
  <p-button
    icon="pi pi-filter"
    aria-label="Filter"
    severity="secondary"
    text
    size="large"
    (onClick)="openFiltersDialog()"
  />

  <p-inputgroup>
    <p-floatlabel
      variant="on"
      class="spell-list-controls__search-wrapper"
    >
      <input
        [formControl]="filtersForm.controls.search"
        pInputText
        fluid
        variant="filled"
        pSize="large"
        id="spell-list-filter-search"
        class="spell-list-controls__search"
      />
      <label for="spell-list-filter-search">Search</label>
    </p-floatlabel>

    <p-inputgroup-addon>
      <p-button
        icon="pi pi-times"
        aria-label="Clear search"
        severity="secondary"
        text
        size="large"
        [dt]="clearSearchBtnTheme"
        (onClick)="clearSearch()"
      />
    </p-inputgroup-addon>
  </p-inputgroup>
</form>
