<form
  class="spell-list-controls__form"
  [formGroup]="searchForm"
>
  <p-floatlabel
    variant="in"
    class="spell-list-controls__search-wrapper"
  >
    <input
      [formControl]="searchForm.controls.search"
      pInputText
      fluid
      variant="filled"
      pSize="small"
      id="spell-list-filter-search"
    />
    <label for="spell-list-filter-search">Search</label>
  </p-floatlabel>

  <p-button
    icon="pi pi-times"
    aria-label="Clear search"
    severity="secondary"
    outlined
    (onClick)="clearSearch()"
  />
</form>
